nav ul {
    display: table;
    width: 100%;
    background-color: gray;
    opacity: 0.8;
    margin-top: -10px;
    padding: 20px;
}
nav ul li{
    display: table-cell;
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}
#top-section{ 
    background: url(images/index-background.jpg); 
    background-size: 100%;
    background-position: 0 -200px;
    height: 650px;
}
header{
    font-size: 40px;
    margin-left: 80px;
    color: greenyellow;
    font-family:cursive;
}
main{
    text-align: center;
}
.large-font{
    font-size: 20px;
}
#help-title{
    font-size: 32px;
    font-family: monospace;
}
main span{
    display: inline-block;
    margin-left: 100px;
}
main span p{
    font-weight: bold;
}
#top-section h1{
    color: white;
    width: 430px;
    margin: 10px auto;
}
#address{
    background-color:rgb(66, 62, 62);
    opacity: 0.9;
    padding: 15px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
}
#address p{
    color: white;
    font-weight: bold;
}
input{
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    height: 25px;
    outline: none;
}
button{
    height: 30px;
    border-radius: 5px;
    background: greenyellow;
    outline: none;
}

table{
    width: 1000px;
    margin: 4em auto 0 auto;
    border-collapse: collapse;
}
caption{
    height: 40px;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead{
    background: #eeffe6;
}
tbody{
    background: #eeffe6;
    text-align: center;
}
th, td{
    height: 35px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}

footer{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}

#signup{
    margin: auto;
    margin-top: 100px;
}

/* Contact page */
#contact{
    margin: 100px auto;
    background-color:rgb(66, 62, 62);
    opacity: 0.9;
    padding: 15px;
    width: 400px;
    color: white;
    border-radius: 15px;
}
input[type="submit"]{
    background-color: greenyellow;
}
/* Login page */
#login{
    background-color:rgb(66, 62, 62);
    opacity: 0.9;
    padding: 15px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    color: white;
}
#login input[type="text"]{
    width: 80%;
}
#login p{
    color: burlywood;
}
form button{
    display: block;
    width: 140px;
    margin: auto;
}

/* Sceneries page */
#image-gallery{ 
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
#image-gallery img{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 250px;
    height: 200px;
}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.caption{
    background-color: #ccc;
    width: 250px;
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
  }
.description{
    visibility:hidden; 
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    max-width: 50%;
    max-height: 20%;
}
li:hover .description {
    visibility:visible;
    cursor: pointer;
}
#info-box{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    top: -500px;
    left: 700px;
    visibility: hidden;
}
#info-box h2, #info-box p{
    text-align: left;
}
#info-box a{
    margin-top: 20px;
    color: yellow;
}